$color-primary: #FF5722
$color-link: #E91E63
$color-secondary-text: #727272

body
  margin: 0
  padding: 0
  overflow: hidden

.lockerapp
  display: flex
  width: 100vw
  height: 100vh
  flex-direction: column
  flex-wrap: nowrap
  cursor: default

  > .menu
    flex-shrink: 0
    flex-grow: 0
    background-color: $color-primary
    color: lighten($color-primary, 33%)
    line-height: 2rem
    font-size: 1.2rem
    padding-left: 1rem
    padding-right: 1rem
    border-bottom: solid 2px darken($color-primary, 20%)
    display: flex
    flex-direction: row
    > .sup
      align-self: flex-start
      margin-left: 0.5rem
      margin-right: auto
      font-size: 70%
      line-height: 1.8
    > .r
      margin-left: auto
      color: white
      font-size: 1rem
      a
        color: white
        text-decoration: none
        transition: color 200ms
        margin-left: 0.5rem
        cursor: pointer
        &:hover
          color: lighten($color-link, 30%)
          border-bottom: solid 1px white
        &.disabled
          cursor: default
          opacity: 0.5
          &:hover
            border-bottom: none
  > .content
    flex-shrink: 1
    flex-grow: 1
    overflow: hidden
    position: relative
    .line
      position: absolute
      z-index: 0
      background-color: #aaa
    .object
      position: absolute
      background-color: white
      font-size: 0.9rem
      overflow: hidden
      transition: left 50ms, top 50ms, width 50ms, height 50ms
      .ct
        display: flex
        flex-wrap: nowrap
        width: 100%
        height: 100%
        align-items: stretch
        .l
          text-align: center
          color: white
          flex-shrink: 0
          flex-grow: 0
      .ct.horizontal
        flex-direction: row
        .l
          display: flex
          flex-direction: row
          align-items: center
          flex-wrap: nowrap
          height: 100%
          padding-left: 0.1rem
          padding-right: 0.1rem
      .ct.vertical
        flex-direction: column
    .object.locker
      border: solid 1px $color-primary
      &.sel
        background-color: lighten($color-primary, 30%)
      .ct
        .l
          background-color: $color-primary
        .total, .alloc
          text-align: center
          color: $color-primary
          font-size: 0.6rem
      .ct.vertical
        .from
          text-align: left
          margin-bottom: auto
          border-bottom: solid 1px $color-primary
        .to
          margin-top: auto
          text-align: right
          border-top: solid 1px $color-primary
      .ct.horizontal
        .r
          display: flex
          flex-grow: 1
          flex-shrink: 1
          flex-direction: column
          flex-wrap: nowrap
          align-items: stretch
          height: 100%
          .t
            width: 100%
            border-bottom: solid 1px $color-primary
            display: flex
            flex-shrink: 0
            flex-grow: 0
            flex-direction: row
            align-items: center
            justify-content: space-between
    .object.classroom
      border: solid 1px #9c27b0
      &.sel
        background-color: lighten(#9c27b0, 40%)
      .ct
        .l
          background-color: #9c27b0
        .r
          flex-shrink: 1
          flex-grow: 1
          .numPeople
            color: #9c27b0
            font-size: 0.6rem
      .ct.vertical
        .r
          writing-mode: vertical-lr
          text-orientation: sideways
          .numPeople
            writing-mode: horizontal-tb
            text-orientation: upright
    .object.door
      border: 1px solid lighten(deepskyblue, 10%)
      background-color: deepskyblue
      &.sel
        background-color: darken(deepskyblue, 10%)
      .ct .l
        flex-grow: 1
        flex-shrink: 1
  > .bottombar
    flex-grow: 0
    flex-shrink: 0
    border-top: solid 2px $color-primary
    padding: 0.5rem 1rem
    display: flex
    justify-content: middle
    flex-direction: row
    flex-wrap: wrap
    span.line
      width: 0
      border-left: solid 1px #aaa
      display: inline-block
      margin-left: 0.75rem
      margin-right: 0.75rem
    span.error
      color: red
    input[type=number]
      width: 3rem
      text-align: right
    input[type=text]
      width: 5rem
    span.btn
      border-bottom: solid 1px #ccc
      margin-right: 0.5rem
      cursor: pointer
      &.current
        border-bottom: solid 2px $color-primary
